.top-bar {
display: flex;
  background-color: #f4b400;
  letter-spacing: 1px;
  min-height: 100px;
  align-items: center;

}

h1 {
  font-family: "Fjalla One", sans-serif;
  font-size: 48px;
  color: white;
  padding-left: 8px;
}

